* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Kalam', cursive; */
i {
    color: #6ab04c;
}


header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/bg.jpg);
    background-size: cover;
    color: white;
}

nav {
    width: 100%;
    height: 100px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 70px;
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
    /* border-radius: 10px; */
    /* background: linear-gradient(rgba(196, 196, 122, 0.192),rgba(19, 5, 5, 0.9)); */
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 0.5rem 1rem;
}

.menu a:nth-child(5) {
    background: #6ab04c;
    border-radius: 10px;
    margin: 0 1rem;
}

.menu i {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
    color: white;
}

.menu a:hover {
    background: #6ab04c;
    border-radius: 12px;
}

/* container  */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 70px;
}

.left {
    flex-basis: 50%;
}

.right {
    flex-basis: 30%;
}

.right img {
    border-radius: 250px;
    filter: drop-shadow(0px 0px 150px #6ab04c);
}

.left h2 {
    font-family: 'Poppins', sans-serif;
    color: #6ab04c;
}

.left h3 {
    font-size: 5em;
    font-family: 'Kalam', cursive;
    color: white;
}

.left p {
    font-family: 'Poppins', sans-serif;
    color: white;
    line-height: 2rem;
}

#hire {
    text-decoration: none;
    background: #6ab04c;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 2rem;
    margin: 0px 1rem;
    color: white;
}

#myp {
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px dashed white;
    font-size: 2rem;
    border-radius: 10px;
    margin: 0px 1rem;
    color: white;
}

#hire:hover {
    background: #3e0bb4;
    border-radius: 12px;
}

#myp:hover {
    background: #6ab04c;
    border-radius: 12px;
}

/* section */
#bio {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/bg.jpg);
    cursor: pointer;
    padding: 150px 70px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

.leftbio {
    flex-basis: 40%;
}

.rightbio {
    flex-basis: 60%;
}

.leftbio img {
    width: 100%;
    /* height: 700px; */
    border-radius: 10px;
    filter: drop-shadow(0px 0px 20px #6ab04c);
}

.rightbio {
    text-align: center;
    padding: 0 40px;

}

.rightbio p {
    line-height: 2rem;
    margin: 20px 0;
}

.rightbio h1 {
    font-size: 3em;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
}

.info div {
    color: #6ab04c;
    font-size: 1.5em;
    margin: 0 1rem;
    font-family: 'Kalam', cursive;
    ;
}


#followed i {

    color: #6ab04c;
    font-size: 4em;
    margin: 2rem 1rem;

}


.link-h {
    margin-top: 3rem;
}

#cv {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 1.5em;
    border: 4px dashed white;
    padding: 1rem 2rem;
    margin: 0 0.5rem;
}

#cv:hover {
    background: #6ab04c;
    border-radius: 12px;
}

/* service  */
#services {
    padding: 50px 70px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/bg.jpg);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.intro h1 {
    font-size: 3em;
    color: white;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.cardbody {
    flex-basis: 40%;
    /* background: white; */
    color: white;
    padding: 3rem;
    margin: 0.5rem 0.5rem;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #6ab04c;
}

.cardbody h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0;

}

.cardbody i {
    font-size: 3rem;
    color: #6ab04c;

}

/* project section */
#projects {
    padding: 50px 70px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/bg.jpg);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#projects .cardbody {
    flex-basis: 30%;
    /* background: white; */
    color: white;
    padding: 3rem;
    margin: 0.5rem 0.5rem;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #6ab04c;
}

/* Experience */
#experience {
    padding: 50px 70px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/bg.jpg);
    font-family: 'Poppins', sans-serif;
    /* text-align: center; */
}

#experience p {
    font-family: 'Kalam', cursive;
    color: #6ab04c;
    font-size: 2.5rem;
}

#experience li {
    color: white;
}

/* contact section */
#contact {
    padding: 50px 70px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/bg.jpg);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.contact-details {
    flex-basis: 60%;
    /* background: white; */
    color: white;
    padding: 2rem;
    color: white;
}

/* Contact Form Styles */
.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 20px #6ab04c;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 20px 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.contact-form button:hover {
    background-color: #6ab04c;
}

form div {
    padding: 5px 5px;
    font-size: 1rem;
}

form input {

    font-size: 1rem;
}

/* Footer Styles */
footer {
    padding: 20px 0px 70px;
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/bg.jpg);
    font-family: 'Poppins', sans-serif;
}